server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ssafydb?serverTimezone=UTC&characterEncoding=UTF-8
    username: ssafy
    password: ssafy
  jpa:
    show-sql: true
    database: mysql
logging:
  level:
    web: trace
    sql: trace
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql_container_dev:3306/example?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: SSAFYseoulNo1!
  jpa:
    show-sql: true
    database: mysql
logging:
  level:
    web: trace
    sql: trace
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql_container:3306/example?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: SSAFYseoulNo1!
  jpa:
    show-sql: false
    database: mysql
logging:
  level:
    web: error
    sql: error
---


